<div class="flex justify-center items-center min-h-screen bg-gray-100">
  <div class="bg-white p-8 shadow-md w-96">
    <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">
      Sign Up to <a routerLink="/" class="text-blue-600">MerchEazy</a>
    </h2>

    <form
      [formGroup]="signupForm"
      (ngSubmit)="onSubmit()"
      class="flex flex-col gap-y-4"
    >
      <!-- Full Name -->
      <div class="flex gap-x-4">
        <div class="flex flex-col">
          <label for="firstName" class="block mb-2 text-sm font-medium"
            >First Name</label
          >
          <input
            type="text"
            formControlName="firstName"
            class="w-full px-4 py-2 bg-gray-50 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-400 focus:outline-none"
            placeholder="John"
          />
          <small
            *ngIf="
              signupForm.controls['firstName'].invalid &&
              signupForm.controls['firstName'].touched
            "
            class="text-red-500"
          >
            First Name is required.
          </small>
        </div>
        <div class="flex flex-col">
          <label for="lastName" class="block mb-2 text-sm font-medium"
            >Last Name</label
          >
          <input
            type="text"
            formControlName="lastName"
            class="w-full px-4 py-2 bg-gray-50 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-400 focus:outline-none"
            placeholder="Doe"
          />
          <small
            *ngIf="
              signupForm.controls['lastName'].invalid &&
              signupForm.controls['lastName'].touched
            "
            class="text-red-500"
          >
            Last Name is required.
          </small>
        </div>
      </div>

      <!-- Email -->
      <div>
        <label for="email" class="block mb-2 text-sm font-medium">Email</label>
        <input
          type="email"
          formControlName="email"
          class="w-full px-4 py-2 bg-gray-50 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-400 focus:outline-none"
          placeholder="name@company.com"
        />
        <small
          *ngIf="
            signupForm.controls['email'].invalid &&
            signupForm.controls['email'].touched
          "
          class="text-red-500"
        >
          Enter a valid email.
        </small>
      </div>

      <!-- Password -->
      <div>
        <label for="email" class="block mb-2 text-sm font-medium"
          >Password</label
        >
        <input
          type="password"
          formControlName="password"
          class="w-full px-4 py-2 bg-gray-50 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-400 focus:outline-none"
          placeholder="••••••••"
        />
        <small
          *ngIf="
            signupForm.controls['password'].invalid &&
            signupForm.controls['password'].touched
          "
          class="text-red-500"
        >
          Password must be at least 6 characters.
        </small>
      </div>

      <!-- Re-type Password -->
      <div>
        <label for="confirmPassword" class="block mb-2 text-sm font-medium"
          >Re-enter password</label
        >
        <input
          type="password"
          formControlName="confirmPassword"
          class="w-full px-4 py-2 bg-gray-50 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-400 focus:outline-none"
          placeholder="••••••••"
        />
        <small
          *ngIf="
            signupForm.controls['confirmPassword'].invalid &&
            signupForm.controls['confirmPassword'].touched
          "
          class="text-red-500"
        >
          Please re-enter your password.
        </small>
      </div>

      <!-- Submit Button -->
      <button
        type="submit"
        class="w-full bg-blue-600 rounded-lg text-white py-2 hover:bg-blue-700 transition flex justify-center items-center disabled:opacity-50 disabled:cursor-not-allowed"
        [disabled]="signupForm.invalid || loading"
      >
        <span *ngIf="!loading">Sign Up</span>
        <span
          *ngIf="loading"
          class="animate-spin h-5 w-5 border-t-2 border-white rounded-full"
        ></span>
      </button>
    </form>

    <p class="text-center text-gray-600 mt-4">
      Already have an account?
      <a routerLink="/login" class="text-blue-600 hover:underline">Login</a>
    </p>
  </div>
</div>
