<div class="flex justify-center items-center min-h-screen bg-gray-100">
  <div class="bg-white rounded-lg p-8 w-96">
    <h2 class="text-2xl font-medium text-center text-gray-800 mb-6">
      Login to <a routerLink="/" class="text-blue-700">MerchEazy</a>
    </h2>

    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      class="flex flex-col gap-y-4"
    >
      <!-- Email -->
      <div>
        <label for="email" class="block mb-2 text-sm font-medium">Email</label>
        <input
          type="text"
          formControlName="email"
          class="w-full px-4 py-2 bg-gray-50 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-400 focus:outline-none"
          placeholder="name@company.com"
        />
        <small
          *ngIf="
            loginForm.controls['email'].invalid &&
            loginForm.controls['email'].touched
          "
          class="text-red-500"
        >
          Email is required.
        </small>
      </div>

      <!-- Password -->
      <div>
        <label for="password" class="block mb-2 text-sm font-medium"
          >Password</label
        >
        <input
          type="password"
          formControlName="password"
          class="w-full px-4 py-2 bg-gray-50 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-400 focus:outline-none"
          placeholder="••••••••"
        />
        <small
          *ngIf="
            loginForm.controls['password'].invalid &&
            loginForm.controls['password'].touched
          "
          class="text-red-500"
        >
          Password is required.
        </small>
      </div>

      <!-- Submit Button -->
      <button
        type="submit"
        class="w-full bg-blue-600 rounded-lg text-white py-2 hover:bg-blue-700 transition flex justify-center items-center disabled:opacity-50 disabled:cursor-not-allowed"
        [disabled]="loginForm.invalid || loading"
      >
        <span *ngIf="!loading">Login</span>
        <span
          *ngIf="loading"
          class="animate-spin h-5 w-5 border-t-2 border-white rounded-full"
        ></span>
      </button>
    </form>

    <p class="text-center text-gray-600 m-4">
      Don't have an account?
      <a routerLink="/signup" class="text-blue-600 hover:underline">Signup</a>
    </p>

    <!-- OR Divider -->
    <div class="flex items-center my-4">
      <hr class="w-full border-gray-300" />
      <span class="px-3 text-gray-500 text-sm">OR</span>
      <hr class="w-full border-gray-300" />
    </div>

    <!-- Google Login Button -->
    <button
      type="button"
      class="w-full border border-gray-300 rounded-lg py-2 flex justify-center items-center gap-x-2 hover:bg-gray-200 transition"
      (click)="loginWithGoogle()"
    >
      <img src="assets/google-logo.svg" alt="Google" class="h-5 w-5" />
      Continue with Google
    </button>
  </div>
</div>
