<nav class="bg-white border border-gray-300">
  <div class="max-w-screen-xl flex justify-between items-center mx-auto py-3">
    <!-- Logo -->
    <a routerLink="/" class="text-2xl text-blue-700 font-medium">MerchEazy</a>

    <!-- Navigation Links -->
    <div class="flex gap-x-2">
      <a
        routerLink="/"
        routerLinkActive="text-blue-700"
        class="text-gray-600 hover:text-blue-700 px-4 py-2"
      >
        Home
      </a>
      <a
        routerLink="/creators"
        routerLinkActive="text-blue-700"
        class="text-gray-600 hover:text-blue-700 px-4 py-2"
      >
        Creators
      </a>
      <a
        routerLink="/contact"
        routerLinkActive="text-blue-700"
        class="text-gray-600 hover:text-blue-700 px-4 py-2"
      >
        Contact
      </a>
      <div class="ms-4 relative">
        <!-- Button with User Icon -->
        <button
          (click)="isDropdownOpen = !isDropdownOpen"
          class="border border-gray-300 text-gray-600 hover:bg-gray-200 px-4 py-2 rounded-full"
        >
          <i class="fa-regular fa-user"></i>
        </button>

        <!-- Dropdown Menu -->
        <div
          *ngIf="isDropdownOpen"
          class="absolute right-0 mt-2 w-40 bg-white py-2 border border-gray-300 shadow-md rounded-lg"
        >
          <div *ngIf="!isAuthenticated()">
            <a
              routerLink="/login"
              class="block flex justify-center mx-2 px-4 py-2 rounded-lg bg-blue-600 text-white hover:bg-blue-800"
            >
              Login
            </a>
          </div>
          <div *ngIf="isAuthenticated()">
            <a class="block px-4 py-2 text-gray-600 hover:bg-gray-200">
              Profile
            </a>
            <a
              (click)="logout()"
              class="block px-4 py-2 text-gray-600 hover:bg-gray-200"
            >
              Logout
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
